:root {
    --color_base-1: rgb(102, 102, 102);
    --color_background_main: #f37c82;
}

label {
    margin: 0;
}

.btn {
    padding: .5rem 1rem;
    background-color: #ccc;
}

.btn:hover {
    cursor: pointer;
    opacity: .8;
}

#profile {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 450px;
    margin: 0 auto;
    padding-bottom: 1rem;
    background-color: var(--color_background_main);
}

// css theme 3
.qr-code{
    position: absolute;
    background-color: cadetblue;
    right: 10px;
    top: 10px;
    height: 40px;
}
.show-pr-code {
    width: 200px;
    margin: auto;
    position: absolute;
    left: 50%;
    z-index: 2;
    bottom: 50%;
    transform: translate(-50%, 50%);
    
}
.back-ground{
    background-color: #3c3c3c9c;
    position: absolute;
    max-width: 450px;
    top: 0px;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.background-profile {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    width: 100%;
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
}

.btn-menu {
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-menu__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}

.btn-menu img {
    width: 70%;
}

.contact-header {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    background-color: #fff;
    border-radius: 1rem;
    width: 95%;
    margin: 0 auto;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 35px 0px, rgb(0 0 0 / 10%) 0px 1px 0px 0px;
}

.contact-header-2 {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 85%);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 1rem;
    width: 95%;
    margin: 0 auto;
    box-shadow: 0 0 0 0;
    display: flex;
}
.contact-header-3 {
    display: flex;
    align-items: flex-end;
}

.btn-qr {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 2px solid var(--color_base-1);
    font-weight: 600;
    border-radius: .5rem;
}

.contact-header>.avatar {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 108px;
    height: 108px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #fff;
}

.contact-header>.avatar2 {
    left: 0;
    transform: translate(0, 0);
    position: unset;
}

.contact-header>.avatar img {
    width: 100%;
}

.contact-header .user-name {
    padding-top: 4.5rem;
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
}

.contact-header .user-name-2 {
    color: whitesmoke;
}

// .theme-3 .user-name-2 {
//     color: #000;
// }

.user-name .full-name {
    position: relative;
}

.user-name .full-name .line {
    width: 90%;
    margin: 0 auto;
    margin-top: .3rem;
}

.full-name .line img {
    width: 100%;
}

.user-name .nick-name {
    font-size: 1.1rem;
    font-weight: 500;
}

.contact-control-header {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: stretch;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    overflow: hidden;
    margin-top: 1rem;
}

.btn-action-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 0;
    color: #fff;
    border-top: var(--color_base-1) solid 1px;
    border-right: .5px solid var(--color_base-1);
}

.btn-action-header:nth-last-of-type(1) {
    border-left: .5px solid var(--color_base-1);
    border-right: none;
}

.item-info:nth-last-of-type(2n + 1) {
    padding-left: 10px;

}

.item-info-2:nth-last-of-type(2n + 1) {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    max-width: 100%;
    min-width: 100%;

    .btn-info-contact {
        width: 70%;
    }
}

.item-info-2:nth-last-of-type(2n) {
    width: 70%;
    max-width: 70%;
    min-width: 70%;
}
.item-info-3:nth-last-of-type(2n + 1) {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    max-width: 100%;
    min-width: 100%;

    .btn-info-contact {
        width: 51%;
    }
}

.item-info-3:nth-last-of-type(2n) {
    width: 51%;
    max-width: 51%;
    min-width: 51%;
}

.item-info:nth-last-of-type(2n) {
    padding-right: 0px;
    max-width: 48%;

}


.theme-3 {
    // -webkit-animation: bg-pan-top 8s both;
    // animation: bg-pan-top 8s both;
    // background-image: linear-gradient(0deg,#cc6aa5,#3e91cc,#2dcca7);
    // background-size: 100% 600%;
    // transform: translate3d(0,0,0);
    background-color: unset !important;
    .other-info-3 {
        width: 100%;
        padding-top: 2rem;
        padding-bottom: 0.75rem;
    }

}
//animation key
@-webkit-keyframes bg-pan-top {
    0% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}

@keyframes bg-pan-top {
    0% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}

.btn-action-header .title {
    flex: 1;
    text-align: center;
    font-weight: 600;
    color: var(--color_base-1);
}

/* info other */
.other-info {
    padding-top: 9rem;
    width: 100%;
    margin: 0 auto;
}

.other-info-2 {
    width: 100%;
    padding-top: 2rem;
}

.item-info {
    margin-bottom: 1rem;
}

.item-info-2 {
    margin-bottom: 1rem;
}

.btn .icon {
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.btn .icon img {
    width: 100%;
}

.btn-info-contact {
    display: flex;
    align-items: center;
    border-radius: 3rem;
    background-color: #fff;
    text-decoration: none;
    color: var(--color_base-1);
    text-shadow: 0 0 3px rgb(255, 255, 255);
    box-shadow: 0 0 3px #ccc;
}

.btn-info-contact.style-2 {
    color: var(--color_base-1);
}

.btn-info-contact .text {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;
}

/* /services */

.services-item .title-context.right {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.title-context.right .content {
    width: 96%;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
}

.services-item .title-context.left {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.title-context.left .content {
    width: 96%;
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    padding: .5rem 1rem;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.title-context .content .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--color_base-1);
}

.title-context .content .title {
    color: var(--color_base-1);
    flex: 1;
    font-size: 1.2rem;
    font-weight: 600;
}

.contents-item {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.list-sercives {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
}

.list-item {
    flex: 0 0 auto;
    width: 50%;
    background-color: #fff;
    padding: .5rem;
}

.list-item__img {
    position: relative;
    overflow: hidden;
    padding: 75px 0;
    display: flex;
    align-items: center;
}

.list-item__img img {
    position: absolute;
    width: 100%;
}

.list-item__title {
    text-align: center;
}

.control-album {
    display: flex;
    background-color: rgb(221, 221, 221);
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
}

.control-album .show-album {
    position: relative;
    padding: .5rem;
    border-right: 1px solid var(--color_base-1);
}

.menu-dropdown {
    position: absolute;
    top: 100%;
    z-index: 5;
    background-color: #fff;
    width: 150%;
    left: -50%;
    box-shadow: 0 0 3px #000;
}

.menu-dropdown.header {
    position: absolute;
    top: 105%;
    z-index: 5;
    background-color: #fff;
    width: 200px;
    left: -150px;
    box-shadow: 0 0 3px #000;
}

.menu-dropdown__item {
    padding: .5rem 1rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.control-album .btn-link {
    display: block;
    padding: .5rem;
    color: #000;
}

/* section blog */
.blog-item {
    background-color: #fff;
    display: flex;
    padding: .5rem;
    border-radius: 1rem;
    margin-bottom: .8rem;
}

.blog-item__img {
    width: 40%;
}

.blog-item__img img {
    width: 100%;
    border-radius: 1rem;
}

.blog-item__info {
    flex: 1;
    margin-left: 10px;
}

.blog-item__info .title {
    font-size: 1.2rem;
    font-weight: 600;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    color: var(--color_base-1);
}

.blog-item__info .text {
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}



/* handle-show */

/* info-bank */
.overlay {
    transition: .4s;
    width: 100%;
    height: 100%;
}

#show-info-bank:checked~.overlay,
#show-booking:checked~.overlay,
#show-contact-now:checked~.overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

#show-info-bank:checked~.info-bank {
    left: 0;
}

.btn-close {
    background-color: #d2d3d5;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.info-bank {
    position: fixed;
    top: 20px;
    left: -100%;
    width: 400px;
    z-index: 100;
    transition: .4s;
}

.info-bank .nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-right-radius: 3rem;
    border-bottom-right-radius: 3rem;
    padding: .5rem;
}

.info-bank .nav .title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color_base-1);
}

.table-info-bank {
    background-color: #e6e7e9;
    width: 90%;
    max-height: 85vh;
    overflow-y: auto;
    padding: 1rem .5rem;
    border-bottom-right-radius: 1rem;
}

.item-bank {
    padding-bottom: 1.5rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid #fff;
}

.name-bank {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: #fff;
    border-radius: 3rem;
    padding: .5rem;
}

.table-info-bank .bg-content {
    background-color: #fff;
    border-radius: 3rem;
    padding: .7rem;
    margin-top: .5rem;
}

.table-info-bank .name-user {
    text-align: center;
    font-weight: 600;
}

.table-info-bank .number-bank {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table-info-bank .btn-copy {
    width: 30px;
}

.table-info-bank .btn-copy img {
    width: 100%;
}

.info-bank .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 5px #000;
}

.icon img {
    width: 100%;
}

/* info-table-show */
#show-booking:checked~.table-info-show,
#show-contact-now:checked~.table-info-show {
    left: 0;
    opacity: 1;
}

.table-info-show {
    background-color: #e6e7e9;
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    z-index: 10;
    padding: .8rem;
    transition: .4s;
    opacity: 0;
}

.table-info-show .nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3rem;
    padding: .5rem;
}

.table-info-show .nav .title {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--color_base-1);
    margin-left: 20px;
}

/* handle dropdown  */
.menu-dropdown {
    display: none;
}

.menudrop:checked~.menu-dropdown {
    display: block;
}
