.dashboard-layout {
  display: flex;

  .dashboard-layout__content {
    width: calc(100% - 270px);
    background-color: #e5e5e5;
  }

  &__select {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    padding-right: 40px;
    background-color: #fff;
  }
}

.sidebar {
  width: 270px;
  height: 100vh;
  background: #ffffff;
  box-shadow: 4px 0px 10px rgba(188, 188, 188, 0.1);

  &__heading {
    width: 100%;
    height: 81px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(118, 115, 113, 0.25);
    .sidebar-logo {
      display: flex;
      align-items: center;

      .sidebar-logo-image {
        margin-left: 8px;

        img {
          width: 250px;
        }
      }
      .sidebar-logo__text {
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
        margin-left: 11px;

        .sidebar-logo__special-text {
          color: #e98744;
          margin-left: 1px;
        }
      }
    }
  }

  .sidebar-list {
    width: 100%;
    .sidebar-item {
      display: flex;
      align-items: center;
      padding: 9px 0 9px 20px;
      cursor: pointer;

      &:hover {
        background-color: #c1bebe;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #bcbcbc;
      }

      &:first-child {
        margin-top: 9px;
      }
      .sidebar-item__img {
        color: #767371;

        .sidebar__icon {
          width: 40px;
          filter: brightness(0.5);
        }
      }
      .sidebar-item__link {
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #767371;
        text-decoration: none;
        margin-left: 12px;
        cursor: pointer;
      }

      &__currency {
        padding: 0;

        .MuiAccordionSummary-root:hover {
          background-color: #c1bebe;
        }

        .sidebar-item {
          margin: 0;
        }

        .sidebar-item__img {
          display: flex;
          align-items: center;
        }

        .MuiAccordionDetails-root {
          display: flex;
          flex-direction: column;
        }

        .MuiAccordion-rounded:last-child {
          width: 100%;
          border: 0;
          box-shadow: none;
        }

        .MuiAccordion-root.Mui-expanded:last-child {
          width: 100%;
          border: 0;
          box-shadow: none;
        }

        .MuiAccordionDetails-root {
          padding-top: 0;
        }

        .MuiAccordionSummary-content {
          margin: 10px 5px;
        }

        .MuiAccordionSummary-content.Mui-expanded {
          margin: 10px 5px;
        }
      }
    }

    .sidebar-item.active {
      background-color: #969696;

      .sidebar-item__link {
        color: #fff;
        font-weight: bold;
      }
    }
  }
}
